<%= render 'customers/header' %>
<h2>in your cart</h2>
<%= button_to "clear your cartitems", destroy_all_customers_cart_items_path, method: :delete %>
    

<%= render 'customers/cart_items/list', cart_items: @cart_items %>
<%= link_to new_customers_order_path do%>
    <p>
        <button type="button" class="btn btn-info active">go to casher</button>
    </p>
<% end %>
<%= link_to root_path do%>
    <p>
        <button type="button" class="btn btn-success active">continue to shopping</button>
    </p>
<% end %>