<!DOCTYPE html>
<html>
  <head>
    <title>Cakers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <%= yield %>
    </div>
  </body>
  <footer>  
     this site is provided by daisuke shimizu in 2019. 
  </footer>
</html>
